// 使用 scss 的 math 函数
@use "sass:math";
// 默认设计稿的宽度
$designWidth   : 1920;
// 默认设计稿的高度
$designHeight  : 1080;
//最小字体 
$minFontSize   : 12;
// 默认设计稿的宽度
$designHNWidth : 9600;
// 默认设计稿的高度
$designHNHeight: 3240;

// px 转为 vw 的函数
@function vw($px) {
    @return math.div($px, $designWidth) * 100vw;
}

// px 转为 vh 的函数
@function vh($px) {
    @return math.div($px, $designHeight) * 100vh;
}

//字体px 转vw 的函数 
@function font($px) {
    @return math.div($px, $designWidth) * 100vw;
}



// px 转为 vw 的函数
@function vw_hn($px) {
    @return math.div($px, $designHNWidth) * 100vw;
}

// px 转为 vh 的函数
@function vh_vh($px) {
    @return math.div($px, $designHNHeight) * 100vh;
}

//字体px 转vw 的函数 
@function font($px) {
    @return math.div($px, $designHNWidth) * 100vw;
}